.container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  align-items: baseline;
}

.menu {
  @media screen and (max-width: $mobile) {
    display: none;
  }

  display: flex;
}
.menu_button-open {
  display: none;

  @media screen and (max-width: $mobile) {
    display: block;
  }
}
.header_contact-wrap {
  border-radius: 40px;
  border: 2px solid #fff;
  padding: 10px;
}

.header_contact-link{
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
