.hero-container {
  
  padding-top: 50px;

  padding-bottom: 50px;
}
.section-container{
position: relative;
}
.section-container::after {
  content: '';
  position: absolute;
  background-color: rgba($color: #fff, $alpha: 0.5);
  bottom: 0;
  left: 5%;
  height: 1px;
  width: 90%;
}
.hero-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 90px;
}

.hero-header-stretch {
  display: inline-block;

  height: 29px;
  width: 76px;
  border-radius: 100px;
  border: 4px solid #fff;
}
.block {
  display: block;
}
.hero-list {
  display: flex;
  // flex-direction: column;
  font-size: 18px;
  gap: 9px;

  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  /* 9px */
  letter-spacing: 0.18px;
}
.hero-list-item:last-child {
  font-weight: 500;
  line-height: 1.44;
  /* 144.444% */
  letter-spacing: 0.18px;
}
