@import './common';
@import './media';
@import './header';
@import './mobileMenu';
@import './hero';
@import './advantages';
@import './price';
@import './partners';
@import './services';
@import './contactForm';
@import './footer';

@counter-style adv-counter-style {
  system: fixed;
  symbols: '1' '2' '3' '4' '5' '6' '7' '8' '9';
  pad: 2 '0';
}

@counter-style services-counter-style {
  system: fixed;
  symbols: '1' '2' '3' '4' '5' '6' '7' '8' '9';
  pad: 2 '0';
}

body {
  background-color: #1e2226;
  font-family: 'Manrope', sans-serif;
  color: #fff;
}
ol {
  list-style: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: $mobile) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.stop-scroll {
  overflow: hidden;
}
.link-button {
  display: flex;
  width: 120px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #174cc0;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}

.item-heading {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 80%;
}
.block {
  display: block;
}
