<div class="container advantages-container section-container">
  <h2 class="section-header">ОХОРОНА<span class="block"></span>ДЛЯ ДВОХ ТИПІВ НАПІВПРИЧЕПІВ /</h2>
  <ul class="advantages-list">
    <li class="products-list-item">
      <p class="item-heading">Жорсткий напівпричеп</p>
      <p class="advantages-description">
        При несанкціонованому відкритті задніх воріт спрацьовує сирена для
        сповіщення водія, сигнал тривоги з координатами напівпричепа надходить
        на пульт моніторингу
      </p>
    </li>
    <li class="products-list-item">
      <p class="item-heading">Тентовий напівпричеп</p>
      <p class="advantages-description">
        При несанкціонованому проникненні всередину напівпричепа шляхом
        розрізання тенту/відкриття задніх воріт спрацьовує сирена для сповіщення
        водія, сигнал тривоги з координатами напівпричепа надходить на пульт
        моніторингу
      </p>
    </li>
  </ul>
  <div class="advantages-principles">
    <p class="item-heading">Принцип роботи охоронної системи</p>
    <ol class="advantages-principles-list">
      <li class="advantages-principles-item">Сигнал тривоги</li>
      <li class="advantages-principles-item">Спрацювання сирени</li>
      <li class="advantages-principles-item">Отримання сигналу на пульт охорони
      </li>
      <li class="advantages-principles-item">Виїзд екіпажу реагування</li>
    </ol>
    <p class="description">
      Система LEX підключена до пульту моніторингу й охорони рухомих об’єктів
      Оператори цілодобово обробляють сигнали тривоги та направляють до
      напівпричепу найближчий екіпаж групи швидкого реагування У співпраці з
      нашими партнерами ми маємо одну з найбільших зон покриття в Україні
    </p>
  </div>
</div>
