<div class="container advantages-container">
    <h2>ОХОРОНА
    ДЛЯ ДВОХ ТИПІВ НАПІВПРИЧЕПІВ /</h2>
    <ul>
        <li>Жорсткий напівпричеп</li>
        <li>Тентовий напівпричеп</li>
    </ul>
    <div>
        <p>Принцип
    роботи охоронної системи</p> 
    <ul>
        <li>Сигнал тривоги</li>
        <li>Спрацювання сирени</li>
        <li>Отримання сигналу на пульт охорони</li>
        <li>Виїзд екіпажу реагування</li>
    </ul>
    <p>Система LEX підключена до пульту моніторингу й охорони рухомих об’єктів Оператори цілодобово обробляють сигнали тривоги
    та направляють до напівпричепу найближчий екіпаж групи швидкого реагування
    У співпраці з нашими партнерами ми маємо одну з найбільших зон покриття в Україні</p>
    </div>
   
</div>