<div class="container contact-form-container" id="contact-form">
    <h2 class="section-header contact-form-header">ОТРИМАТИ <span class="block"></span> КОНСУЛЬТАЦІЮ /</h2>
    <div class="form-wrap">
    <form class="request-form">
        <input type="text" name="name" id="" class="input name-input" placeholder="Ім’я">
        <input type="text" name="phoneNumber" class="input phone-input" placeholder="Телефон">
        <button type="button" class="form-button">ЗАМОВИТИ ДЗВІНОК</button>
    </form>
    </div>
</div>