<div class="container footer-container" id="contacts">
  <address class="address-wrap">
    <a href="mailto:SALE@LEX-PROJECT.COM.UA" class="email"
      >SALE@LEX-PROJECT.COM.UA</a
    >
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <a class="phone-link contacts-link" href="tel:+380668734323">
          <svg width="14px" height="14px" class="contacts-icon">
            <use href="./images//icons/symbol-defs.svg#icon-phone"></use>
          </svg>
          +38066-873-43-23</a
        >
        <a class="contacts-link" href="tel:+380680489198">+38068-048-91-98</a>
      </li>
      <li class="contacts-list-item">
        <a
          class="contacts-link"
          href="https://instagram.com/lexproject_security"
        >
          <svg width="14px" height="14px" class="contacts-icon">
            <use href="./images//icons/symbol-defs.svg#icon-insta"></use>
          </svg>
          lexproject_security</a
        >
      </li>
      <li class="contacts-list-item">
        <a
          class="address-link contacts-link"
          class="address-link"
          href="https://goo.gl/maps/RD2KjfsEMNC4fk9w6"
        >
          <svg width="14px" height="18px" class="contacts-icon">
            <use href="./images//icons/symbol-defs.svg#icon-map"></use>
          </svg>
          Україна, м. Харків, <span class="block"></span>вул. Плеханівська,
          2/5</a
        >
      </li>
    </ul>
  </address>
</div>
