<header>
  <div class="container container_header">
    <a class="logo" href="#">LEX/</a>
    <ul class="menu">
      <li class="menu_item"><a class="menu_item-link" href="#advantages">Про нас</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#price">Ціна</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#partners">Партнери</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#services">Рішення</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#contacts">Контакти</a></li>
    </ul>
    <button type="button" class="menu_button-open">Меню</button>
    <div class="header_contact-wrap">
      <a class="header_contact-link" href="#contact-form">Замовити дзвінок</a>
    </div>
  </div>
</header>
