<header>
  <div class="container container_header">
    <a class="logo" href="#">LEX/</a>
    <ul class="menu">
      <li class="menu_item"><a class="menu_item-link" href="#">Про нас</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#">Ціна</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#">Партнери</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#">Рішення</a></li>
      <li class="menu_item"><a class="menu_item-link" href="#">Контакти</a></li>
    </ul>
    <button type="button" class="menu_button-open">open menu</button>
    <div class="header_contact-wrap">
      <a class="header_contact-link" href="#">Замовити дзвінок</a>
    </div>
  </div>
</header>
