<div class="container hero-container">
  <h1 class="hero-header">
    LEX SECURITY <span class="block"></span> ОХОР<span
      class="hero-header-stretch"
    ></span
    >ННІ СИСТЕМИ ДЛЯ ВАНТАЖО ПЕРЕВЕЗЕНЬ
  </h1>
  <ul class="hero-list">
    <li class="hero-list-item">
      Компанія LEX займається розробокю охоронних рішень в області вантажо
      перевезень
    </li>
    <li class="hero-list-item">
      Наше обладнання гарантує безпеку вантажу в дорозі та під час стоянки по
      всій території України та за її межами
    </li>
  </ul>
</div>
