<div class="container mobile_container">
  <a class="logo" href="#">LEX/</a>
  <ul class="menu-mobile">
    <li class="menu_item"><a class="menu_item-link mobile-nav" href="#advantages">Про нас</a></li>
    <li class="menu_item"><a class="menu_item-link mobile-nav" href="#price">Ціна</a></li>
    <li class="menu_item"><a class="menu_item-link mobile-nav" href="#partners">Партнери</a></li>
    <li class="menu_item"><a class="menu_item-link mobile-nav" href="#services">Рішення</a></li>
    <li class="menu_item"><a class="menu_item-link mobile-nav" href="#contacts">Контакти</a></li>
  </ul>
 <button type="button" class="menu_button-close">Close</button>
</div>
