<div class="container mobile_container">
  <a class="logo" href="#">LEX/</a>
  <ul class="menu-mobile">
    <li class="menu_item"><a class="menu_item-link" href="#">Про нас</a></li>
    <li class="menu_item"><a class="menu_item-link" href="#">Ціна</a></li>
    <li class="menu_item"><a class="menu_item-link" href="#">Партнери</a></li>
    <li class="menu_item"><a class="menu_item-link" href="#">Рішення</a></li>
    <li class="menu_item"><a class="menu_item-link" href="#">Контакти</a></li>
  </ul>
 <button type="button" class="menu_button-close">Close</button>
</div>
