<div class="container partners-container" id="partners">
  <h2 class="section-header partners-header">НАШІ <span class="block"></span> ПАРТНЕРИ /</h2>
  <ul class="partners-list">
    <li class="partners-list-item">
      <a class="partners-link" href="">
        <img src="./images/Antika_02072018.png" alt="">
      </a>
    </li>
    <li class="partners-list-item">
      <a class="partners-link" href="">
       <img src="./images/logoppb.png" alt="">
      </a>
    </li>
    <li class="partners-list-item">
      <a class="partners-link" href="">
        <img src="./images/logos TL 1.png" alt="">
      </a>
    </li>
    <li class="partners-list-item">
      <a class="partners-link" href="">
        <img src="./images/police.png" alt="">
      </a>
    </li>
  </ul>
</div>
