<div class="container price-container section-container">
    <h2 class="section-header">ВАРТІСТЬ
    ОХОРОННОЇ СИСТЕМИ /</h2>
    <ul class="price-list">
        <li class="products-list-item price-list-item"><p class="item-heading">Жорсткий напівпричеп</p><a class="link-button" href="#">119$</a></li>
        <li class="products-list-item price-list-item"><p class="item-heading">Тентовий напівпричеп</p><a class="link-button" href="#">123$</a></li>
    </ul>
    <p class="description">У вартість входить також встановлення та налаштування обладнання спеціалістами компанії LEX</p>
    <p class="description">Актуальність цін можна дізнатись у менеджера
    Розмір щомісячної абонентської плати за підключення до пульту моніторингу та
    охорони обговорюється індивідуально</p>
</div>