<div class="container price-container section-container" id="price">
    <h2 class="section-header">ВАРТІСТЬ<span class="block"></span>ОХОРОННОЇ СИСТЕМИ /</h2>
    <ul class="price-list">
        <li class="products-list-item price-list-item"><p class="item-heading">Жорсткий напівпричеп</p><a class="link-button" href="#">119$</a></li>
        <li class="products-list-item price-list-item"><p class="item-heading">Тентовий напівпричеп</p><a class="link-button" href="#">123$</a></li>
    </ul>
    <div class="price-description-wrap">
        <p class="description price-description">У вартість входить також встановлення та налаштування обладнання спеціалістами компанії LEX</p>
    <p class="description price-description">Актуальність цін можна дізнатись у менеджера
    Розмір щомісячної абонентської плати за підключення до пульту моніторингу та
    охорони обговорюється індивідуально</p>
    </div>
    
</div>