<div class="container section-container">
  <h2>НАШІ ПОСЛУГИ /</h2>
  <h3>Компанія LEX надає широкий спектр послуг</h3>
  <p>
    У своїй роботі ми використовуємо обладнання та передове програмне
    забезпечення Wialon
  </p>
  <p>
    Разом з нашими партнерами ми забезпечуємо реагування на сигнали тривоги по
    всій Україні * *окрім тимчасово окупованих територій
  </p>
  <ul>
    <li>GPS-моніторинг рухомих об'єктів
</li>
    <li>Підключення до CAN-шини автомобіля, встановлення датчиків
    температури/вологості
</li>
    <li>Охоронні рішення для безпеки Вашого автомобіля</li>
    <li>Кнопка тривоги у смартфоні (SOS)
</li>
    <li>Охорона запасних коліс (тягачі, напівпричепи)
</li>
    <li>Комплексні системи захисту напівпричепа
</li>
    <li>Розробка індивідуальних охоронних рішень для будь-яких
    рухомих об'єктів
</li>
    <li>Перехід від інших постачальників послуг моніторингу
</li>
  </ul>
</div>
