<div class="container section-container services-container" id="services">
  <h2 class="section-header services-header">
    НАШІ <span class="block"></span> ПОСЛУГИ /
  </h2>
  <p class="item-heading advantages-heading">
    Компанія LEX надає широкий спектр послуг
  </p>

  <ol class="advantages-principles-list services-list">
    <li class="advantages-principles-item services-list-item">
      GPS-моніторинг рухомих об'єктів
    </li>
    <li class="advantages-principles-item services-list-item">
      Підключення до CAN-шини автомобіля, встановлення датчиків
      температури/вологості
    </li>
    <li class="advantages-principles-item services-list-item">
      Охоронні рішення для безпеки Вашого автомобіля
    </li>
    <li class="advantages-principles-item services-list-item">
      Кнопка тривоги у смартфоні (SOS)
    </li>
    <li class="advantages-principles-item services-list-item">
      Охорона запасних коліс (тягачі, напівпричепи)
    </li>
    <li class="advantages-principles-item services-list-item">
      Комплексні системи захисту напівпричепа
    </li>
    <li class="advantages-principles-item services-list-item">
      Розробка індивідуальних охоронних рішень для будь-яких рухомих об'єктів
    </li>
    <li class="advantages-principles-item services-list-item">
      Перехід від інших постачальників послуг моніторингу
    </li>
  </ol>
  <div class="services-description-wrap">
    <p class="description">
      У своїй роботі ми використовуємо обладнання та передове програмне
      забезпечення Wialon
    </p>
    <p class="description">
      Разом з нашими партнерами ми забезпечуємо реагування на сигнали тривоги по
      всій Україні * *окрім тимчасово окупованих територій
    </p>
  </div>
</div>
